.localStorageField {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: bisque;
  width: 100%;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: teal;
  width: 100%;
}

.resultsField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: turquoise;
}

.excelField {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightskyblue;
  width: 100%;
}

.excelTableField {
  display: flex;
  flex-direction: column;
  align-items: center;
}
